@import "navbar.css";
@import "landing.css";
@import "digitalera.css";

:root {
  --primary1: #3652b5;
  --primary2: #233575;
  --primary3: #0c1228;
  --primary4: #101836;
  --primary5: #0f1733;
  --yellow1: #cc9a27;
  --yellow2: #8b7031;
  --bgcolor: #d0d7e6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

html {
  margin: 0;
  padding: 0;
  background: var(--bgcolor);
}

body {
  padding: 0;
}

h1 {
  color: var(--primary4);
  font-size: 3rem;
}

h2 {
  color: var(--primary4);
  font-size: 2.4rem;
}

@media (max-width: 640px) {
  * {
    font-size: 14px;
  }
}