.inside-the-campus h1 {
  margin-bottom: 3.2rem;
}

.inside-the-campus p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.inside-the-campus .item {
  /* outline: green solid 1px; */
  grid-gap: 0;
  margin-bottom: 3.2rem;
}

.inside-the-campus figure {
  margin-top: 1rem;
  /* outline: green solid 1px; */
}

.inside-the-campus figure img {
  width: 520px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.inside-the-campus img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .inside-the-campus .sub-item {
    grid-gap: 5%;
  }
}