.plm-email h3 {
  text-align: center;
}

.plm-email .perks {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.plm-email .perks .perks-item {
  display: grid;
  grid-template-rows: 100px auto;
  grid-gap: 5%;
  width: 250px;
  margin-top: 3.2rem;
}

.plm-email .perks .perks-item figure {
  width: 100%;
  height: 100%;
}

.plm-email .perks .perks-item figure img {
  height: 100%;
  margin: 0 auto;
  display: block;
}

.plm-email .perks .perks-item .description p {
  margin-top: 0.4rem;
  text-align: center;
}


@media (max-width: 420px) {
  .plm-email .perks .perks-item {
    grid-template-rows: 80px auto;
  }
}